<h1><%= t "mailer.password_reset" %></h1>

<p><t "mailer.click_to_reset_password" ></p>

<%= link_to t("mailer.reset_password"), edit_password_reset_url(@user.reset_token,
email: @user.email) %>

<p><%= t "mailer.this_link_will" %></p>
