<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/"><%= t "ruby_on_rails_tutorial" %></a>
    by <a href="http://www.michaelhartl.com/"><%= t "michael_hartl" %></a>
  </small>
  <nav>
    <ul>
      <li><a href="http://news.railstutorial.org/"><%= t "news" %></a></li>
    </ul>
  </nav>
</footer>
